<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleInformatica.css">
    <title>Alexandria</title>
</head>
<body>
    <header class="header">
        <img src="/img/logoAlexandria.png" class="logo">
        <h1>Alexandria</h1>
        <img src="/img/iconeInformatica.png" class="titulo">
        <h1>Informática</h1>
        <input type="search" class="procurar" placeholder="Procurar matéria" id="procurar">
        
    </header>
    <section class="container">        
        <aside class="aside">
            <section class="botoes">
                <a href="#">Favoritos</a>
                <a href="#">Conta</a>
                <a href="#">Sobre nós</a>
                <img src="/img/userPlaceholder.png" class="user">
            </section>
            <h4>Eclipsal Works &COPY; 2023</h4>
        </aside>
        <section class="materias">
            <a href="#" id="WWI">Lógica de programação</a>
            <a href="#" id="WWII">Automação</a>
            <a href="#" id="BrasilColonial">Linguagens de programação</a>
            <a href="#" id="GuerraFria">Banco de dados</a>
            <a href="#" id="PreHistoria">Segurança digital</a>
            
        </section>
    </section>

    <script src="/js/script.js"></script>
    
</body>
</html>
