<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/apresentacao.css">
    <title>Alexandria</title>
</head>
<body>
    <header class="header">
        <h1>ALEXANDRIA</h1>
        <div>
            <a href="../HomePage/homepage.html">Entrar</a>
            <a href="../CadastroPage/cadastro.html">Cadastrar-se</a>
        </div>
    </header>
    <section class="container">
        <img src="../img/logoAlexandria.png" class="logo">
        <h1 class="textH">Alexandria</h1>
        <h4 class="textH">Conhecimento por uma questão de conhecer</h4>
        <hr />
        <p>A Eclipsal Works tem o prazer de disponibilizar ao público e à internet a plataforma de aprendizado Alexandria, a 
            Alexandria tem como intuito a livre distribuição da educação e o fácil acesso à mesma, pois apenas com o conhecimento
            necessário nós somos capazes de mudar as nossas vidas para algo melhor.
        </p>
        <hr / class="divider">
        <h1 style="color: #f2f5f6;">Fundadores</h1>
        <h4 class="text">Lucas Couto</h4>
        <p>Responsável pela equipe de pesquisa</p>
        <h4 class="text">Matheus Carlos</h4>
        <p>Assistente de pesquisa</p>
        <h4 class="text">Davi Lima</h4>
        <p>Responsável pelo design</p>
        <h4 class="text">Gabriel Alexandre</h4>
        <p>Corresponsável pelo design</p>
        <h4 class="text">Newton Luz</h4>
        <p>Assistente de design</p>
        <h4 class="text">Luna Lima</h4>
        <p>Equipe do frontend e analista de design</p>
        <h4 class="text">João Lopes</h4>
        <p>Equipe do backend e correponsável pela pesquisa</p>
        <h4 class="text">Eduardo Lopes</h4>
        <p>Assistente de programação e editor de conteúdo</p>

    </section>
</body>
</html>